In [3]:
import pandas as pd
from collections import Counter
import string

In [4]:
data = pd.read_csv("data.csv", sep=";;;", engine="python")

In [119]:
def df_of_counter(cnt, *args, **kwargs):
    # takes collections.Counter of and returns pandas.DataFrame where first column is the keys and second column is the values
    
    column_1 = list(cnt.keys())
    column_2 = list(cnt.values())


    return pd.DataFrame(list(zip(column_1, column_2)), *args, **kwargs)

## Nestandardni znaki v imenih
Ker so me pri zajemu podatkov zelo mučili nestandardni znaki ki jih ljudje postavljajo v svoje oglase si najprej oglejmo te

In [105]:
c = Counter()
for ime in data.Name.to_list():
    for char in ime:
        # Ignorirajmo dolgočasne alfanumerične znake
        if char not in string.ascii_letters and char not in string.digits:
            c[char] += 1

In [120]:
df = df_of_counter(c, columns=['CHARACTER', 'FREQUENCY']).sort_values('FREQUENCY', ascending=False).reset_index(drop=True)
df

   CHARACTER  FREQUENCY
0                 60200
1          ,       4581
2          -       3738
3          /       3730
4          č       2018
5          .       1350
6          (       1087
7          )       1055
8          +        905
9          š        657
10         "        531
11         Č        310
12         ž        290
13         |        268
14         !        222
15         '        182
16         Š        159
17         ″        141
18         :         89
19         *         71
20         –         66
21         &         65
22         ®         28
23         Ž         28
24         €         25
25         ”         20
26         [         17
27         ™         17
28         ]         16
29         _         15
30         ;         15
31         @          9
32         ×          8
33         ’          7
34         ˝          7
35         =          5
36         #          5
37         ｜          4
38                    4
39         %          4
40         ̌          4
41         ​          2
42         é          2
43         ü          2
44         …          2
45         >          1
46         —          1
47                    1
48         ‘          1
49         ∙          1
50         ō          1
51         ᴹ          1
52         °          1
53         ć          1
54         ‎          1
55         ᵀ          1
56         Ü          1
57         “          1
58                   1
59         ±          1

## Mesta prodaje
Zdaj si oglejmo iz katerega mesta je oddanih največ oglasov

In [126]:
d = Counter()
for location in data.City.to_list():
    if len(l := location.split(", ")) == 2:
        city, _ = l
    else:
        city = l[0]
    d[city] += 1

In [131]:
df = df_of_counter(d, columns=["CITY", "N_OF_ADDS"]).sort_values('N_OF_ADDS', ascending=False).reset_index(drop=True)
df.head(30)

                       CITY  N_OF_ADDS
0                   Maribor       1303
1     Ljubljana Moste Polje        953
2        Ljubljana Bežigrad        505
3           Ljubljana Šiška        456
4               Nova Gorica        419
5          Ljubljana Center        367
6      Ljubljana Vič Rudnik        343
7                   Domžale        273
8                     Kranj        270
9                     Celje        251
10       Slovenska Bistrica        229
11                Ljubljana        212
12                    Koper        185
13                Škofljica        183
14        Slovenske Konjice        166
15               Novo mesto        132
16                  Medvode        124
17               Ajdovščina        123
18                     Ptuj        109
19  Brezovica pri Ljubljani        101
20                 Postojna         96
21                    Krško         94
22                    Žalec         83
23                Grosuplje         83
24                  Šentjur         82
25               Radovljica         82
26                   Kamnik         80
27                  Velenje         77
28                  Brežice         76
29                    Piran         69

Vidimo da bi morali biti
- Ljubljana Moste Polje
- Ljubljana Bežigrad
- Ljubljana Šiška
- Ljubljana Center
- Ljubljana Vič Rudnik
- Ljubljana

združeni, zato malce modificirajmo naš števec

In [144]:
d = Counter()
LJUBLJANE = ["Ljubljana Moste Polje", "Ljubljana Bežigrad", "Ljubljana Šiška", "Ljubljana Center", "Ljubljana Vič Rudnik"]
for location in data.City.to_list():
    if len(l := location.split(", ")) == 2:
        city, _ = l
        
        # Če smo v enem izmed sekcij Ljubljane si preprosto zapomnemo Ljubljana
        if city in LJUBLJANE:
            city = "Ljubljana"
    else:
        city = l[0]
    d[city] += 1

In [147]:
df = df_of_counter(d, columns=["CITY", "N_OF_ADDS"]).sort_values('N_OF_ADDS', ascending=False).reset_index(drop=True)
df.head(30)

                       CITY  N_OF_ADDS
0                 Ljubljana       2836
1                   Maribor       1303
2               Nova Gorica        419
3                   Domžale        273
4                     Kranj        270
5                     Celje        251
6        Slovenska Bistrica        229
7                     Koper        185
8                 Škofljica        183
9         Slovenske Konjice        166
10               Novo mesto        132
11                  Medvode        124
12               Ajdovščina        123
13                     Ptuj        109
14  Brezovica pri Ljubljani        101
15                 Postojna         96
16                    Krško         94
17                    Žalec         83
18                Grosuplje         83
19               Radovljica         82
20                  Šentjur         82
21                   Kamnik         80
22                  Velenje         77
23                  Brežice         76
24                    Piran         69
25                 Slovaška         69
26                 Poljčane         68
27                  Vrhnika         64
28            Murska Sobota         59
29                  Kočevje         56

Da bomo pokazali naše sposobnosti z uporabo knjižnice pandas pa pridimo do rezultatov še na lepši način

In [1]:
def to_city(field):
    LJUBLJANE = ["Ljubljana Moste Polje", "Ljubljana Bežigrad", "Ljubljana Šiška", "Ljubljana Center", "Ljubljana Vič Rudnik"]
    if len(l := field.split(", ")) == 2:
        city, _ = l
        
        # Če smo v enem izmed sekcij Ljubljane si preprosto zapomnemo Ljubljana
        if city in LJUBLJANE:
            city = "Ljubljana"
    else:
        city = l[0]
    
    return city

In [6]:
data["City"] = data["City"].map(to_city)
data.groupby("City").size().to_frame(name="N_OF_ADDS").sort_values('N_OF_ADDS', ascending=False)

                              N_OF_ADDS
City
Ljubljana                          2836
Maribor                            1303
Nova Gorica                         419
Domžale                             273
Kranj                               270
Celje                               251
Slovenska Bistrica                  229
Koper                               185
Škofljica                           183
Slovenske Konjice                   166
Novo mesto                          132
Medvode                             124
Ajdovščina                          123
Ptuj                                109
Brezovica pri Ljubljani             101
Postojna                             96
Krško                                94
Žalec                                83
Grosuplje                            83
Radovljica                           82
Šentjur                              82
Kamnik                               80
Velenje                              77
Brežice                              76
Piran                                69
Slovaška                             69
Poljčane                             68
Vrhnika                              64
Murska Sobota                        59
Kočevje                              56
Škofja Loka                          52
Ljutomer                             51
Ivančna Gorica                       49
Slovenj Gradec                       48
Sežana                               45
Litija                               45
Trbovlje                             43
Šenčur                               41
Tržič                                41
Šempeter pri Gorici                  41
Logatec                              37
Lukovica                             37
Sevnica                              36
Zagorje ob Savi                      35
Selnica ob Dravi                     33
Šentilj v Slovenskih goricah         33
Laško                                32
Jesenice                             30
Vojnik                               30
Mengeš                               30
Bled                                 30
Miklavž na Dravskem polju            30
Rače                                 29
Naklo                                28
Hoče                                 26
Lenart v Slovenskih goricah          26
Idrija                               24
Pesnica pri Mariboru                 23
Trebnje                              23
Oplotnica                            22